.bar {
    @apply fill-amber-300;
}

.barNum {
    @apply text-black text-xs text-center;
    text-anchor: middle;
}

.barName {
    @apply text-xs;
    text-anchor: middle;
}

.axisX line {
    fill: none;
    stroke: black;
}